.footer {
    margin-top: 30px;
    @include breakpoint('small') {
      padding-top: 40px;
    }
  }
  
  .social-icon {
    padding: 10px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
  